In [25]:
print"hell"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (2517929214.py, line 1)

In [26]:
import pandas as pd

In [27]:
df = pd.read_csv("spotify_millsongdata.csv")

In [28]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [29]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [30]:
df = df.sample(5000).drop('link',axis=1).reset_index(drop=True)

In [31]:
df.head(5)

,artist,song,text
0,Diana Ross,I'm A Winner,I roll the dice \r\nSeven eleven \r\nYou'll ...
1,Iron Maiden,These Colours Don't Run,It's the same in every country \r\nWhen you s...
2,Manowar,The Crown And The Ring,From a battle I've come \r\nTo a battle I rid...
3,ZZ Top,Burger Man,"My charcoal's getting red hot, \r\nPut your o..."
4,Backstreet Boys,Everything But Mine,Walking along the sky \r\nChasing a glimpse o...

In [32]:
df.shape

(5000, 3)

In [33]:
df['text'][0]

"I roll the dice  \r\nSeven eleven  \r\nYou'll either take me down  \r\nOr you'll take me to heaven  \r\nAnd I'm so glad  \r\nI took the chance on you baby  \r\nI said I'm so glad  \r\nI took the chance on you baby  \r\nMy friends all say  \r\nHe don't play by the rules  \r\nSo listen  \r\nDon't you be no fool  \r\nDon't you know, you're just a beginner  \r\nSo look at me now  \r\nI'm a winner  \r\nI'm a winner  \r\nYes, I am  \r\nShe's a winner  \r\nYeah, yes I am  \r\nShe's a winner  \r\nLike a roulette wheel  \r\nSpinning around in my head  \r\nI put my chips on nine  \r\nGamblin' you'd be mine  \r\nAnd I'm so glad  \r\nI took a chance on you baby  \r\nSay I'm so glad  \r\nI took the chance on you baby  \r\nMy friends all say  \r\nWe just don't understand it  \r\nYou play this game  \r\nYou'll come out empty handed  \r\n'Cause here we arrange her  \r\nAnd then shortchange her  \r\nBut I fooled them, y'all  \r\nI'm a winner  \r\nI'm a winner  \r\nYes I am  \r\nShe's a winner  \r\nYes I am  \r\nPut that money down  \r\nAnd put 'dem chips on nine  \r\nI'm a gambling girl  \r\nAnd I give all I got  \r\nSo I am at your love  \r\nAnd I hit the jackpot  \r\nAnd I'm so glad  \r\nI took a chance on you baby  \r\nI'm so glad  \r\nI took the chance on you baby  \r\nI'm a winner  \r\nYes I am  \r\nI'm a winner  \r\nYes I am\r\n\r\n"

In [34]:
df['text'][1:5]

1    It's the same in every country  \r\nWhen you s...
2    From a battle I've come  \r\nTo a battle I rid...
3    My charcoal's getting red hot,  \r\nPut your o...
4    Walking along the sky  \r\nChasing a glimpse o...
Name: text, dtype: object

Text Cleaning\ Text Preprocessing

In [35]:
df

,artist,song,text
0,Diana Ross,I'm A Winner,I roll the dice \r\nSeven eleven \r\nYou'll ...
1,Iron Maiden,These Colours Don't Run,It's the same in every country \r\nWhen you s...
2,Manowar,The Crown And The Ring,From a battle I've come \r\nTo a battle I rid...
3,ZZ Top,Burger Man,"My charcoal's getting red hot, \r\nPut your o..."
4,Backstreet Boys,Everything But Mine,Walking along the sky \r\nChasing a glimpse o...
...,...,...,...
4995,Coldplay,Rainy Day,Then there was rain \r\nThe sky wore a veil o...
4996,Radiohead,Pyramid Song,"I jumped in the river, what did I see? \r\nBl..."
4997,Toto,Mad About You,There's something I must say \r\nSomething I ...
4998,Celine Dion,If That's What It Takes,You're the bravest of hearts you're the strong...
4999,John Legend,Wake Up Everybody,Wake up everybody no more sleepin' in bed \r\...

In [36]:
df.head(3)

,artist,song,text
0,Diana Ross,I'm A Winner,I roll the dice \r\nSeven eleven \r\nYou'll ...
1,Iron Maiden,These Colours Don't Run,It's the same in every country \r\nWhen you s...
2,Manowar,The Crown And The Ring,From a battle I've come \r\nTo a battle I rid...

In [39]:
df['text'] = df['text'].str.lower().replace(r'^\w\s',' ').replace('\n',' ',regex=True)

In [40]:
df['text'][0]

"i roll the dice  \r seven eleven  \r you'll either take me down  \r or you'll take me to heaven  \r and i'm so glad  \r i took the chance on you baby  \r i said i'm so glad  \r i took the chance on you baby  \r my friends all say  \r he don't play by the rules  \r so listen  \r don't you be no fool  \r don't you know, you're just a beginner  \r so look at me now  \r i'm a winner  \r i'm a winner  \r yes, i am  \r she's a winner  \r yeah, yes i am  \r she's a winner  \r like a roulette wheel  \r spinning around in my head  \r i put my chips on nine  \r gamblin' you'd be mine  \r and i'm so glad  \r i took a chance on you baby  \r say i'm so glad  \r i took the chance on you baby  \r my friends all say  \r we just don't understand it  \r you play this game  \r you'll come out empty handed  \r 'cause here we arrange her  \r and then shortchange her  \r but i fooled them, y'all  \r i'm a winner  \r i'm a winner  \r yes i am  \r she's a winner  \r yes i am  \r put that money down  \r and put 'dem chips on nine  \r i'm a gambling girl  \r and i give all i got  \r so i am at your love  \r and i hit the jackpot  \r and i'm so glad  \r i took a chance on you baby  \r i'm so glad  \r i took the chance on you baby  \r i'm a winner  \r yes i am  \r i'm a winner  \r yes i am\r \r "