In [1]:
print("hell")

hell

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("spotify_millsongdata.csv")

In [4]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [5]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [6]:
df = df.sample(5000).drop('link',axis=1).reset_index(drop=True)

In [7]:
df.head(5)

,artist,song,text
0,Verve,Lucky Man,Happiness \r\nMore or less \r\nIt's just a c...
1,ABBA,From A Twinkling Star To A Passing Angel,"Twinkle, Twinkle little star \r\nHow I wonder..."
2,Judy Garland,Day In-Day Out,"Day in, day out \r\nThe same old hoodoo follo..."
3,Clash,Long Time Jerk,Gonna scrape the trouble off my boots! \r\n ...
4,Bonnie Raitt,Walking The Dog,"Mary Mac, dressed in black \r\nSilver buttons..."

In [8]:
df.shape

(5000, 3)

In [9]:
df['text'][0]

"Happiness  \r\nMore or less  \r\nIt's just a change in me  \r\nSomething in my liberty  \r\nOh, my, my  \r\nHappiness  \r\nComing and going  \r\nI watch you look at me  \r\nWatch my fever growing  \r\nI know just where I am  \r\n  \r\nBut how many corners do I have to turn?  \r\nHow many times do I have to learn  \r\nAll the love I have is in my mind?  \r\n  \r\nWell, I'm a lucky man  \r\nWith fire in my hands  \r\n  \r\nHappiness  \r\nSomething in my own place  \r\nI'm standing naked  \r\nSmiling, I feel no disgrace  \r\nWith who I am  \r\n  \r\nHappiness  \r\nComing and going  \r\nI watch you look at me  \r\nWatch my fever growing  \r\nI know just who I am  \r\n  \r\nBut how many corners do I have to turn?  \r\nHow many times do I have to learn  \r\nAll the love I have is in my mind?  \r\n  \r\nI hope you understand  \r\nI hope you understand  \r\n  \r\nGotta love that'll never die  \r\n  \r\nHappiness  \r\nMore or less  \r\nIt's just a change in me  \r\nSomething in my liberty  \r\nHappiness  \r\nComing and going  \r\nI watch you look at me  \r\nWatch my fever growing  \r\nI know  \r\nOh, my, my  \r\nOh, my, my  \r\nOh, my, my  \r\nOh, my, my  \r\n  \r\nGotta love that'll never die  \r\nGotta love that'll never die  \r\nNo, no  \r\nI'm a lucky man  \r\n  \r\nIt's just a change in me  \r\nSomething in my liberty  \r\nIt's just a change in me  \r\nSomething in my liberty  \r\nIt's just a change in me  \r\nSomething in my liberty  \r\nOh, my, my  \r\nOh, my, my  \r\nIt's just a change in me  \r\nSomething in my liberty  \r\nOh, my, my  \r\nOh, my, my\r\n\r\n"

In [10]:
df['text'][1:5]

1    Twinkle, Twinkle little star  \r\nHow I wonder...
2    Day in, day out  \r\nThe same old hoodoo follo...
3    Gonna scrape the trouble off my boots!  \r\n  ...
4    Mary Mac, dressed in black  \r\nSilver buttons...
Name: text, dtype: object

Text Cleaning\ Text Preprocessing

In [11]:
df

,artist,song,text
0,Verve,Lucky Man,Happiness \r\nMore or less \r\nIt's just a c...
1,ABBA,From A Twinkling Star To A Passing Angel,"Twinkle, Twinkle little star \r\nHow I wonder..."
2,Judy Garland,Day In-Day Out,"Day in, day out \r\nThe same old hoodoo follo..."
3,Clash,Long Time Jerk,Gonna scrape the trouble off my boots! \r\n ...
4,Bonnie Raitt,Walking The Dog,"Mary Mac, dressed in black \r\nSilver buttons..."
...,...,...,...
4995,Yello,Sometimes,Sometimes I could just \r\nSometimes I could ...
4996,Quarashi,Transparent Parents,"(Well, well, well) \r\n \r\nWell I'm constan..."
4997,Electric Light Orchestra,All Over The World,"Everybody all around the world, gotta tell you..."
4998,Queensryche,Someone Else?,When I fell from grace \r\nI never realized ...
4999,Chaka Khan,Love Has Fallen On Me,Love is a burning inside \r\nI never had this...

In [12]:
df.head(3)

,artist,song,text
0,Verve,Lucky Man,Happiness \r\nMore or less \r\nIt's just a c...
1,ABBA,From A Twinkling Star To A Passing Angel,"Twinkle, Twinkle little star \r\nHow I wonder..."
2,Judy Garland,Day In-Day Out,"Day in, day out \r\nThe same old hoodoo follo..."

In [13]:
df['text'] = df['text'].str.lower().replace(r'^\w\s',' ').replace('\n',' ',regex=True)

In [14]:
df['text'][0]

"happiness  \r more or less  \r it's just a change in me  \r something in my liberty  \r oh, my, my  \r happiness  \r coming and going  \r i watch you look at me  \r watch my fever growing  \r i know just where i am  \r   \r but how many corners do i have to turn?  \r how many times do i have to learn  \r all the love i have is in my mind?  \r   \r well, i'm a lucky man  \r with fire in my hands  \r   \r happiness  \r something in my own place  \r i'm standing naked  \r smiling, i feel no disgrace  \r with who i am  \r   \r happiness  \r coming and going  \r i watch you look at me  \r watch my fever growing  \r i know just who i am  \r   \r but how many corners do i have to turn?  \r how many times do i have to learn  \r all the love i have is in my mind?  \r   \r i hope you understand  \r i hope you understand  \r   \r gotta love that'll never die  \r   \r happiness  \r more or less  \r it's just a change in me  \r something in my liberty  \r happiness  \r coming and going  \r i watch you look at me  \r watch my fever growing  \r i know  \r oh, my, my  \r oh, my, my  \r oh, my, my  \r oh, my, my  \r   \r gotta love that'll never die  \r gotta love that'll never die  \r no, no  \r i'm a lucky man  \r   \r it's just a change in me  \r something in my liberty  \r it's just a change in me  \r something in my liberty  \r it's just a change in me  \r something in my liberty  \r oh, my, my  \r oh, my, my  \r it's just a change in me  \r something in my liberty  \r oh, my, my  \r oh, my, my\r \r "

In [15]:
df['text']

0       happiness  \r more or less  \r it's just a cha...
1       twinkle, twinkle little star  \r how i wonder ...
2       day in, day out  \r the same old hoodoo follow...
3       gonna scrape the trouble off my boots!  \r   \...
4       mary mac, dressed in black  \r silver buttons ...
                              ...
4995    sometimes i could just  \r sometimes i could j...
4996    (well, well, well)  \r   \r well i'm constantl...
4997    everybody all around the world, gotta tell you...
4998    when i fell from grace  \r i never realized  \...
4999    love is a burning inside  \r i never had this ...
Name: text, Length: 5000, dtype: object

In [17]:
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

In [18]:
import nltk
nltk.download('punkt')  # move this BEFORE using word_tokenize
nltk.data.path.append('/home/codespace/nltk_data')  # use after downloading

[nltk_data] Downloading package punkt to /home/codespace/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [19]:
def tokenization(txt):
    tokens = nltk.word_tokenize(txt, preserve_line=True)  # <--- bypasses sentence splitting
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

In [20]:
print(tokenization("you are so beautiful"))  # should output: "you are so beauti"

you are so beauti

In [21]:
tokenization("will you go there, there is nothing")

'will you go there , there is noth'

In [22]:
tokenization("happier,happy")

'happier , happi'

In [23]:
tokenization("beautiful,beauty,beauti")

'beauti , beauti , beauti'

In [24]:
tokenization(df['text'][0])

"happi more or less it 's just a chang in me someth in my liberti oh , my , my happi come and go i watch you look at me watch my fever grow i know just where i am but how mani corner do i have to turn ? how mani time do i have to learn all the love i have is in my mind ? well , i 'm a lucki man with fire in my hand happi someth in my own place i 'm stand nake smile , i feel no disgrac with who i am happi come and go i watch you look at me watch my fever grow i know just who i am but how mani corner do i have to turn ? how mani time do i have to learn all the love i have is in my mind ? i hope you understand i hope you understand got ta love that 'll never die happi more or less it 's just a chang in me someth in my liberti happi come and go i watch you look at me watch my fever grow i know oh , my , my oh , my , my oh , my , my oh , my , my got ta love that 'll never die got ta love that 'll never die no , no i 'm a lucki man it 's just a chang in me someth in my liberti it 's just a chang in me someth in my liberti it 's just a chang in me someth in my liberti oh , my , my oh , my , my it 's just a chang in me someth in my liberti oh , my , my oh , my , my"

Only words remains in there reduced form are there in lyrics('text')

In [25]:
tokenization(df['text'][0])

"happi more or less it 's just a chang in me someth in my liberti oh , my , my happi come and go i watch you look at me watch my fever grow i know just where i am but how mani corner do i have to turn ? how mani time do i have to learn all the love i have is in my mind ? well , i 'm a lucki man with fire in my hand happi someth in my own place i 'm stand nake smile , i feel no disgrac with who i am happi come and go i watch you look at me watch my fever grow i know just who i am but how mani corner do i have to turn ? how mani time do i have to learn all the love i have is in my mind ? i hope you understand i hope you understand got ta love that 'll never die happi more or less it 's just a chang in me someth in my liberti happi come and go i watch you look at me watch my fever grow i know oh , my , my oh , my , my oh , my , my oh , my , my got ta love that 'll never die got ta love that 'll never die no , no i 'm a lucki man it 's just a chang in me someth in my liberti it 's just a chang in me someth in my liberti it 's just a chang in me someth in my liberti oh , my , my oh , my , my it 's just a chang in me someth in my liberti oh , my , my oh , my , my"

In [26]:
df['text'] = df['text'].apply(lambda x: tokenization(x))

In [27]:
df['text'][0:3]

0    happi more or less it 's just a chang in me so...
1    twinkl , twinkl littl star how i wonder what y...
2    day in , day out the same old hoodoo follow me...
Name: text, dtype: object

In [28]:
df['text']

0       happi more or less it 's just a chang in me so...
1       twinkl , twinkl littl star how i wonder what y...
2       day in , day out the same old hoodoo follow me...
3       gon na scrape the troubl off my boot ! as they...
4       mari mac , dress in black silver button up and...
                              ...
4995    sometim i could just sometim i could just some...
4996    ( well , well , well ) well i 'm constantli di...
4997    everybodi all around the world , got ta tell y...
4998    when i fell from grace i never realiz how deep...
4999    love is a burn insid i never had thi feel befo...
Name: text, Length: 5000, dtype: object

In [29]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [30]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')

In [31]:
matrix = tfidvector.fit_transform(df['text'])

In [32]:
matrix

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 275451 stored elements and shape (5000, 18707)>

In [33]:
similarity = cosine_similarity(matrix)

In [34]:
similarity[0:3]

array([[1.        , 0.03106533, 0.01335425, ..., 0.04555093, 0.03993953,
        0.11121198],
       [0.03106533, 1.        , 0.04391779, ..., 0.02691825, 0.02701723,
        0.0335685 ],
       [0.01335425, 0.04391779, 1.        , ..., 0.01694613, 0.01028256,
        0.11762912]], shape=(3, 5000))

In [35]:
def recommendation(song_df):
    # Check if the song exists in the DataFrame
    if song_df not in df['song'].values:
        print(f"Song '{song_df}' not found in the dataset.")
        return
    
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])), reverse=True, key=lambda x: x[1])
    
    songs = []
    for i in distances[1:11]:  # Assuming you want to return the top 10 recommendations
        songs.append(df.iloc[i[0]]['song'])
    
    return songs

In [36]:
recommendation("Say I Do")

Song 'Say I Do' not found in the dataset.

In [37]:
recommendation('Higher')

Song 'Higher' not found in the dataset.

In [38]:
import pickle

In [39]:
pickle.dump(similarity, open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))